body {
    background: linear-gradient(to bottom, #add8e6, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


h1, h2 {
    font-weight: bold;
    color:forestgreen;
}

input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#guess-form label {
    display: inline-block;
    width: 150px;  /* Đặt chiều rộng cố định cho cả hai nhãn */
    font-size: larger;
    color: red;
    font-weight: bolder;
}

#guess-form input[type="text"],
#guess-form input[type="number"] {
    width: 200px;  /* Đặt chiều rộng cố định cho cả hai ô nhập liệu */
    display: block; /* Đặt mỗi ô nhập liệu trên một dòng riêng */
}

h3{
    color: blue;
    font-style: inherit;
    font-size: larger;
}
h4 {
    color: unset;
    font-size: x-large;
    font-style: inherit;
}
#messages {
    max-height: 200px; /* Đặt chiều cao tối đa của khung chat */
    overflow-y: auto; /* Thiết lập thanh cuộn dọc khi nội dung vượt quá chiều cao */
}
#chat-form button {
    background-color: #007bff; /* Màu xanh dương */
    color: #fff; /* Màu chữ trắng */
    border: none; /* Loại bỏ viền */
    padding: 8px 16px; /* Kích thước lề */
    cursor: pointer; /* Hiển thị con trỏ khi di chuột vào nút */
}